<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.bibiyes.goodlearnai.mapper.UserMapper">


    <select id="getStudentAll" resultType="xyz.bibiyes.goodlearnai.entity.User"
            parameterType="java.lang.String">
        SELECT * FROM user WHERE user_role = 'student' AND username LIKE CONCAT('%', #{name}, '%')
    </select>
    <!-- 新增错题查询 -->
    <select id="getStudentWrongQuestionView" resultType="xyz.bibiyes.goodlearnai.vo.StudentWrongQuestionVO">
        SELECT * FROM student_wrong_question_view
        WHERE user_id = #{userId}
    </select>

</mapper>
